<<<<<<< HEAD
body {
    background: rgb(20, 20, 20);
    background-image: url("http://i.imgur.com/Na4tTOk.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.topNav {
    height: 60px;
}

.navwrapper {
    left: 5px;
    top: 12px;
    float: left;
    position: relative;
    width: 900px;
}

.rtSideNav {
    position: absolute;
    float: right;
    right: 15px;
    top: 20px;
    width: 200px;
}

a:hover {
    color: red;
}

a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    display: inline;
    margin-right: 20px;
    flex-direction: row;
}

.tabMenu {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    flex-direction: row;
}

li {
    display: inline;
    margin-right: 20px;
    flex-direction: row;
}

#overview {
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* #bgTextbox :hover {
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} */

#bgTextbox {
    flex-direction: row;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    width: 100%;
    position: absolute;
    top: 700px;
    text-align: center;
    margin: auto;
}

.shows {
    position: absolute;
    top: 820px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    height: 800px;
}


.myList {
    margin-bottom: 50px;
}

.popular {
    position: relative;
    margin-bottom: 50px;
}

.continue {
    margin-bottom: 50px;
    position: relative;
}

.trending {
    margin-bottom: 50px;
    position: relative;
}

.originals {
    margin-bottom: 50px;
    position: relative;
}

h1 {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.footer {
    color: gray;
    position: absolute;
    top: 2150px;
}

.playButton {
    top: 220px;
    background: url(https://youtu.be/wpV-gGA4PSk?t=23) no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
    margin: 0 50% auto;
}

.myButton:active {
    background: url(https://youtu.be/wpV-gGA4PSk?t=23) no-repeat;

}

.playButton :hover {
    opacity: 0.5;


=======
body {
    background: rgb(20, 20, 20);
    background-image: url("http://i.imgur.com/Na4tTOk.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.topNav {
    height: 60px;
}

.navwrapper {
    left: 5px;
    top: 12px;
    float: left;
    position: relative;
    width: 900px;
}

.rtSideNav {
    position: absolute;
    float: right;
    right: 15px;
    top: 20px;
    width: 200px;
}

a:hover {
    color: red;
}

a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    display: inline;
    margin-right: 20px;
    flex-direction: row;
}

.tabMenu {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    flex-direction: row;
}

li {
    display: inline;
    margin-right: 20px;
    flex-direction: row;
}

#overview {
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* #bgTextbox :hover {
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} */

#bgTextbox {
    flex-direction: row;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    width: 100%;
    position: absolute;
    top: 750px;
    text-align: center;
    margin: auto;
}

.shows {
    position: absolute;
    top: 820px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    height: 800px;
}


.myList {
    margin-bottom: 50px;
}

.popular {
    position: relative;
    margin-bottom: 50px;
}

.continue {
    margin-bottom: 50px;
    position: relative;
}

.trending {
    margin-bottom: 50px;
    position: relative;
}

.originals {
    margin-bottom: 50px;
    position: relative;
}

h1 {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.footer {
    color: gray;
    position: absolute;
    top: 2150px;
}

.playButton {
    top: 220px;
    background: url(https://youtu.be/wpV-gGA4PSk?t=23) no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
    margin: 0 50% auto;
}

.myButton:active {
    background: url(https://youtu.be/wpV-gGA4PSk?t=23) no-repeat;

}

.playButton :hover {
    opacity: 0.5;


>>>>>>> 50bcf45dd9fd4b71436c8d2ae76e79f4031931cb
}